/*--------------------
        RESET
--------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------
      UTILITIES
--------------------*/

.debug *{
    border: 2px dashed black;
}

/*--------------------
     TYPOGRAPHY
--------------------*/

body{
    text-align: center;
    font-size: 18px;
}

/*--------------------
        HEADER
--------------------*/

header{
    background-color: #add8e6;
    min-height: 100px;
    padding: 30px 0;
}

.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1180px;
    justify-content: space-between;
    background-color: #daa520;
    margin: 0 25%;
}

.header-container .header-items{
    min-height: 40px;
    padding: 1%
}

.header-items.side{
    min-width: 20%;
}

.header-items.center{
    min-width: 60%;
}

